@tailwind base;
@tailwind components;
@tailwind utilities;


.gallery{
  display: grid;
  gap: 1rem;
  /* grid-auto-rows: 14rem; */
  grid-template-columns: repeat(auto-fill, minmax(15rem , 1fr ));
 
}

.grid{


  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}


.grid:hover .grid__paragraph{
  clip-path: circle(150% at top left);
}

.grid__img{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  
}

.grid__paragraph{
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgba(122, 90, 163, 0.537);
  color: white;
  font-size: 2.5rem;

  display: grid;
  text-align: center;
  place-items: center;

  clip-path: circle(0 at top left);
  transition: clip-path .4s ;
}

.heart{
  color: red;
}

/* 
@tailwind base;
@tailwind components;
@tailwind utilities;


.galeria {
  position: relative;
  column-count: 4;
  padding: 20px;
}

.image {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;


}

img {
  width: 100%;
  transition: 0.25 ease-in-out;
}

.image:hover img {
  transform: scale(1.1);
}

h1 {
  position: absolute;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  background-color: #5c5c5c;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  z-index: 1;
  transition: 0.25 ease-in-out;
}

.image:hover h1 {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .galeria {
    column-count: 3;
  }
}

@media screen and (max-width: 425px) {
  .galeria {
    column-count: 2;
  }
  h1 {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .galeria {
    column-count: 1;
  }
  h1 {
    font-size: 15px;
  }
}

.heart{
  
  width: 30px;
  height: 30px;

  float:right;
  margin-right:16px;
  margin-top:16px;
  position: relative; 
  bottom: 10px;
  overflow: hidden;
  z-index: 10;

  
}


*/