@tailwind base;
@tailwind components;
@tailwind utilities;


.galeria {
  position: relative;
  column-count: 4;
  padding: 20px;
}

.image {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}

img {
  width: 100%;
  transition: 0.25 ease-in-out;
}

.image:hover img {
  transform: scale(1.1);
}

h1 {
  position: absolute;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  background-color: #5c5c5c;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  z-index: 1;
  transition: 025. ease-in-out;
}

.image:hover h1 {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .galeria {
    column-count: 3;
  }
}

@media screen and (max-width: 425px) {
  .galeria {
    column-count: 2;
  }
  h1 {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .galeria {
    column-count: 1;
  }
  h1 {
    font-size: 15px;
  }
}
